@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset pour supprimer toute image de loupe */
* {
  background-image: none !important;
}

/* Style de base de l'application */
#app {
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
