@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
